h1, .h1, h2, .h2, h3, .h3, h4, .h4, .content h4, h5, .h5, h6, .h6 {
    font-weight: 500;
    line-height: 1.3;
    margin-block: 20px;
    padding: 0;
}

h1, .h1 {
    font-size: var(--size-h1);
}

h2, .h2 {
    font-size: var(--size-h2);
}

h3, .h3 {
    font-size: var(--size-h3);
}

h4, .h4, .content h4 {
    font-size: var(--size-h4);
}


body {
    font-size: var(--size-body);
}