:root {
    --size-h1: 48px;
    --size-h2: 40px;
    --size-h3: 32px;
    --size-h4: 26px;
    --size-bigger: 18px;
    --size-body: 16px;
    --size-small: 14px;
}

@media (max-width: 1600px){
    :root {
        --size-h1: 38px;
        --size-h2: 36px;
        --size-h3: 30px;
        --size-h4: 24px;
    }
}

@media (max-width: 1439px){
    :root {
        --size-h1: 36px;
        --size-h2: 34px;
        --size-h3: 28px;
        --size-h4: 22px;
    }
}

@media (max-width: 1199px){
    :root {
        --size-h1: 34px;
        --size-h2: 32px;
        --size-h3: 26px;
    }
}

@media (max-width: 991px){
    :root {
        --size-h1: 26px;
        --size-h2: 24px;
        --size-h3: 20px;
        --size-h4: 18px;
        --size-body: 14px;
    }
}

@media (max-width: 767px){
    :root {
        --size-h2: 26px;
        --size-h4: 17px;
    }
}

@media (max-width: 499px){
    
}